Source: xen-shell
Section: utils
Priority: extra
Maintainer: Radu Spineanu <radu@debian.org>
Uploaders: Steve Kemp <skx@debian.org>
Build-Depends: debhelper (>= 4.0.0)
Standards-Version: 3.7.2

Package: xen-shell
Architecture: all
Depends: perl-modules, libterm-readline-gnu-perl, screen, sudo
Recommends: xen-tools
Description: Console based Xen administration utility
 Using the xen-shell a hosting company could easily allow their customers
 to fully manage inidividual Xen guest instances.
 .
 The shell allows users to start, stop, reboot, or connect to the serial
 console of a Xen guest instance upon a Xen system.
 .
 Homepage: http://xen-tools.org/software/xen-shell
